html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
p {
	font-size: 12px;
	line-height: 12px;
	color: black;
}
strong {
	color: #009bd6;
}
a:hover {
	text-decoration: none;
}
.btn {
	display: inline-block !important;
	;
	padding: 3px 6px !important;
	;
	margin-bottom: 0 !important;
	;
	font-size: 11px !important;
	;
	font-weight: normal !important;
	;
	line-height: 1.428571429 !important;
	;
	text-align: center !important;
	;
	white-space: nowrap !important;
	;
	vertical-align: middle !important;
	;
	cursor: pointer !important;
	;
	background-image: none !important;
	;
	border: 1px solid transparent !important;
	;
	border-radius: 4px !important;
	;
	-webkit-user-select: none !important;
	;
	-moz-user-select: none !important;
	;
	-ms-user-select: none !important;
	;
	-o-user-select: none !important;
	;
	user-select: none !important;
	;
	border-radius: 0 !important;
}
.btn-primary {
	color: #ffffff !important;
	;
	background-color: black !important;
	;
	border-color: #009bd6 !important;
	;
	border-radius: 0 !important;
}
/* Button */
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	color: #fff !important;
	;
	background-color: #008fc6 !important;
	;
	border-color: #006e98 !important;
	;
	border-radius: 0 !important;
}
/* Map */
#map {
	width: 100%;
	position: absolute;
	top: 68px;
	bottom: 0px;
	background: black;
	z-index: 2;
}
.leaflet-left .leaflet-control {
	left: 300px !important;
}
.leaflet-control-geosearch.leaflet-control, .leaflet-container .leaflet-control-geosearch input {
	width: 300px !important;
}
.leaflet-control-geosearch, .leaflet-control-geosearch ul {
	position: absolute !important;
	left: 0px;
}
.leaflet-control-layers-list {
	width: 70px !important;
	height: 30px !important;
	z-index: 10px !important;
}
/* Modify Leaflet Conrols within Map 
.leaflet-control-container {
	position: absolute;
	left: 300px;
	z-index: 3;
}

.leaflet-control-layers.leaflet-control{
	left: 965px !important;
	top: -60px;
}
*/

/* Feature Filter for Layer 
#legendButton {
	position: absolute;
	top: 90px;
	right: 10px;
	width: 400px;
	height: 60px;
	background: transparent;
	font-family: "Arial", Helvetica, sans-serif;
	z-index: 2;
}
#legendButton a {
	float: right;
	width: 85px;
	padding: 8px;
	text-align: center;
	font: bold 11px "Helvetica", Arial;
	line-height: normal;
	color: #555;
	border-radius: 3px;
	border: 1px solid #777777;
	background: #ffffff;
	text-decoration: none;
	cursor: pointer;
}*/
/* Feature Filter within Map */
.featureMenu {
	color: white;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	top: 86px;
	right: 4px;
	position: absolute;
	width: 120px;
	padding: 8px;
	background-color: black; /*original color #272822*/
	z-index: 5;
	text-align: center;
	height: 480px;
	border-radius: 0px;
}
/* Header Framework */
#header {
	position: absolute;
	height: 35px;
	width: 100%;
	top: 0;
	padding: 0;
	margin: 0;
	background-color: black;
	border-bottom-color: white;
	border-width: 1px;
	border-bottom-style: solid;
}
#aboutPage {
	line-height: 16px;
}
.aboutButton a {
	color: #DBDEDD;
	width: 40px;
	line-height: 19px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
}
.aboutButton a:hover {
	color: white;
	text-decoration: none;
}
.bar {
	color: #dbdedd;
}
.bar:hover {
	text-decoration: none;
}
/* SideBar */
#sidebar {
	position: absolute;
	top: 36px;
	bottom: 0px;
	left: 0px;
	background-color: black; /*original color #272822*/
	padding-top: 15px;
	width: 300px;
	border-right-color: white;
	border-right-style: solid;
	border-right-width: 1px;
	overflow: auto;
	line-height: 12px;
	z-index: 3;
	float: left;
	overflow: hidden;
}
#sidebarTitle {
	color: #29abe2;
	font-size: 13px;
	margin-left: 7px;
	margin-top: 2px;
	font-weight: bolder;
	font-family: arial;
}
/*#printLabel{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}*/
#sidebarContent {
	color: blue;
	font-size: 12px;
	margin-left: 7px;
	margin-top: 7px;
	font-family: arial;
}
#sidebarProfile {
	position: absolute;
	top: 300px;
	left: 240px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	z-index: 5;
}
#sidebar_imgbox {
	position: absolute;
	top: 287px;
	left: 0px;
	height: 1px;
	width: 300px;
	border-bottom-color: white;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	z-index: 7;
}
#sidebar_toggle {
	position: absolute;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	top: 202px;
	left: 300px;
	color: white;
	background-color: black;
	border-top-style: solid;
	border-top-color: white;
	border-right-style: solid;
	border-right-color: white;
	border-bottom-style: solid;
	border-bottom-color: white;
	border-width: 1px;
	height: 85px;
	width: 20px;
	padding-top: 6px;
	padding-left: 10px;
	z-index: 2;
}
#sidebar_toggle2 {
	position: absolute;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	top: 202px;
	left: 0px;
	color: white;
	background-color: black;
	border-top-style: solid;
	border-top-color: white;
	border-right-style: solid;
	border-right-color: white;
	border-bottom-style: solid;
	border-bottom-color: white;
	border-width: 1px;
	height: 85px;
	width: 20px;
	padding-top: 6px;
	padding-left: 10px;
	display: none;
	z-index: 2;
}
/*General Framework*/
#logo {
	position: relative;
	padding-left: 4px;
	top: -1px;
	z-index: 5;
}
#box {
	z-index: 50;
	height: 40px !important;
	width: 300px;
	font-size: 10px;
	line-height: 13px !important;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: black;
	border-color: white;
	border-width: 1px;
	border-style: solid;
	font-family: arial;
	overflow: hidden;
}
#boxTitle {
	color: #29abe2;
	font-size: 10px;
	margin-left: 7px;
	margin-top: 2px;
	font-weight: bolder;
	font-family: arial;
}
#boxContent {
	color: white;
	font-size: 10px;
	margin-left: 7px;
	margin-top: 7px;
	font-family: arial;
}
#control {
	position: absolute;
	height: 25px;
	width: 160px;
	bottom: 0;
	right: 4px;
	background-color: black;
	border-top-style: solid;
	border-top-color: white;
	border-right-style: solid;
	border-right-color: white;
	border-left-style: solid;
	border-left-color: white;
	border-width: 1px;
	z-index: 10;
	color: white;
	padding-top: 8px;
	font-size: 14px;
	text-align: center;
	padding-bottom: 1px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#controlBig {
	position: absolute;
	height: 185px;
	width: 225px;
	bottom: -200px;
	right: 5px;
	background-color: #F2F2F2;
	border-top-style: solid;
	border-top-color: black;
	border-right-style: solid;
	border-right-color: black;
	border-left-style: solid;
	border-left-color: black;
	border-width: 1px;
	font-color: #000000;
	padding-top: 8px;
	padding-left: 8px !important;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	z-index: 12;
}
#image_sidepanel {
	height: 250px;
	width: 300px;
	margin-top: -14px;
}
.nav-tabs.nav-stacked {
	border-radius: 0px;
}
#headerButtons {
	position: absolute;
	right: 10px;
	top: 8px;
	z-index: 6;
}
/* SubHeader Framework*/
#subheader {
	position: absolute;
	height: 34px;
	width: 100%;
	top: 37px;
	background-color: #F2F2F2;
	padding: 0;
	margin: 0;
	border-bottom-color: white;
	border-width: 1px;
	border-bottom-style: solid;
	z-index: 2;
 */	background-color: #F2F2F2;
}
#citySwitcher {
	position: absolute;
	top: 42px;
	right: 235px;
	z-index: 20;
}
#showall_status {
	position: absolute;
	top: 42px;
	right: 140px;
	z-index: 20;
	font-size: 12px;
}
#downloadData {
	position: absolute;
	top: 41px;
	right: 7px;
	z-index: 20;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#assetLabel {
	position: absolute;
	color: black;
	top: 6px;
	left: 308px;
	font-weight: bold;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 13px;
	z-index: 20;
}
#asset_status {
	position: absolute;
	top: 5px;
	left: 360px;
	z-index: 20;
	font-size: 12px;
	color: black;
}
#asset_classes a {
	color: white;
	text-align: center;
	font-size: 12px;
}
#asset_classes a:hover {
	color: black;
}
#asset_classes a.selected {
 background-color: #ddd color: black;
}
#sourceLabel {
	position: absolute;
	color: black;
	top: 6px;
	left: 740px;
	font-weight: bold;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 13px;
	z-index: 20;
}
#source_status {
	position: absolute;
	top: 5px;
	left: 800px;
	z-index: 20;
	font-size: 12px;
	color: black;
}
#violation_status {
	position: absolute;
	top: 34px;
	left: 434px;
	z-index: 20;
}
#violationStatusLabel {
	position: absolute;
	color: black;
	top: 35px;
	left: 308px;
	font-weight: bold;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 13px;
	z-index: 20;
}
#violation_status label {
	float: left;
	padding-left: 5px;
	font-family: arial;
	font-size: 11px;
	height: 11px;
	line-height: 11px;
}
#Spacing #Residential #Height {
	font-color: black;
	padding-top: 3px;
}
#legendAssetLabel {
	position: absolute;
	bottom: 50px;
	right: 40px;
	width: 190;
}
#legendZoningLabel {
	position: absolute;
	bottom: 35px;
	right: 70px;
	width: 150px;
}
#violationAnd {
	position: absolute;
	bottom: 16px;
	right: 15px;
}
#violationOR {
	position: absolute;
	bottom: 40px;
	right: 150px;
	color: black;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
#legendSourceLabel {
	position: absolute;
	bottom: 110px;
	right: 5px;
	width: 220px;
}
#legendOperatorLabel {
	position: absolute;

	right: 5px;
	width: 220px;
}
#legendOperatorLabel p {
  margin: 0 0 5px;
  padding-top: 10px;
  }
.my-legend .legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
}
  .my-legend .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
    }
  .my-legend .legend-scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
    }
  .my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
    }
  .my-legend .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
    }
  .my-legend a {
    color: #777;
    }
